<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @whenoption.content %>
</p>

<p>
  <strong>Event:</strong>
  <%= @whenoption.event %>
</p>

<%= link_to 'Edit', edit_whenoption_path(@whenoption) %> |
<%= link_to 'Back', whenoptions_path %>
