<p>
  <strong>Event Name:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Add a Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Bucket:</strong>
  <%= @event.bucket %>
</p>

<div class="links">
	<%= link_to 'Edit', edit_event_path(@event) %> |
	<%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: "Are you sure?"} %> |
	<%= link_to 'Back', bucket_path(@bucket) %>
</div>
