<p>
  <strong>Event Name:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<div class="links">
	<%= link_to 'Edit', edit_bucket_event_path %> |
	<%= link_to 'Delete', bucket_event_path, method: :delete, data: { confirm: "Are you sure?"} %> |
	<%= link_to 'Back', bucket_path(@bucket) %>
</div>
